body {
  color: black;
}

img {width:100%; max-width:100%; height:auto;}

.kockica {
  width: 40px;
  height: 40px;
  border: 1px solid black;

  &.kockica-pametna {cursor: pointer;}

  &.red {background-color: red;}
  &.green {background-color: green;}
  &.orange {background-color: orange;}
  &.purple {background-color: violet;}
  &.blue {background-color: blue;}
  &.yellow {background-color: yellow;}
}

.niz-kockica, .circles-niz {
  display: flex;
  flex-direction: row;
}

.circles {
  width:80px; 
  height:80px; 
  border:1px solid green; 
  border-radius: 50%; 
  text-align: center; 
  overflow: hidden; 
  display:flex;}

.divone {
  background:grey; 
  flex:1;}

.divtwo {
  background:yellow; 
  flex:1;}

.firstdiv-niz, .gyms-niz, .red-povecajsmanji {display: flex; flex-direction:row; margin-top:80px;}
.first-div {width:400px; background-color: grey;}
.gym-div {width:400px; background-color: violet;}

.plusminus-wrap {width:350px; height:100px; border:1px solid black; display: flex; flex-direction: row;}
.plusminus-box {cursor: pointer; outline: 1px solid red; flex:1;}
.plusminus-box {
  &.green {background:green;}
  &.purple {background-color: violet;}
  &.blue {background-color: blue;}
} 

.red-povecajsmanji .plusminus-wrap  {border:2px solid blue; margin-right:15px;width: 280px; height: 40px;} 

.red-sivekockice {display: flex; flex-direction:row;}
.testone {width:50px; height:50px; background-color: grey; border: 1px solid black;}



.analog-clock-widget {
  padding:20px;
  .clock-circle-bg {
    position: relative;
    background-color:silver;
    width:200px;
    height:200px;
    border-radius: 100%;

    .nosac-kazaljke {
      position: absolute;
      top:0;
      left:99px;
      width:2px;
      height:200px;
      /* background-color: blue; */
      /* outline: 1px dashed blue; */

      >.kazaljka-sekunde {
        position: absolute;
        top:10px;
        background-color: red;
        width:2px;
        height:90px;
      }

      >.kazaljka-minute {
        position: absolute;
        top:35px;
        left:-1px;
        background-color: red;
        width:4px;
        height:65px;
      }
      >.kazaljka-sati {
        position: absolute;
        top:55px;
        left:-1px;
        background-color: red;
        width:4px;
        height:45px;
      }

    }
  }
}
